.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -144px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -120px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') repeat-x 0 0;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-left { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -96px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-right { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -168px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-middle { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') repeat-x 0 -24px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-left { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -192px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-right { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -216px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-middle { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') repeat-x 0 -48px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-left { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -240px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-right { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') no-repeat 0 -264px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-middle { background: url('/static/square/es/dc854028e8da674b3dd14018640eb337e83d6743/resources/images/1.png') repeat-x 0 -72px; }
