body {
  background: url('/static/sproutcore/iphone_theme/es/b5e370563a6ad1b997d92d0939769a3c41e9fd95/images/pinstripes.png') repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}