.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view {
  color: #555555;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-left {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat 0 -144px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-right {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat 0 -120px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .button-middle {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") repeat-x 0 0;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.def {
  color: #555555;
  text-shadow: 0px 1px 1px white;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.def .button-left {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat 0 -144px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.def .button-right {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") no-repeat 0 -120px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.def .button-middle {
  margin-top: -12px;
  height: 24px;
  background: static_url("images/1.png") repeat-x 0 0;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.def .sc-button-label {
  margin-top: -12px;
  height: 24px;
  padding-top: 2px;
}
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-left { background: static_url("images/1.png") no-repeat 0 -96px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-right { background: static_url("images/1.png") no-repeat 0 -168px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.active .button-middle { background: static_url("images/1.png") repeat-x 0 -24px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-left { background: static_url("images/1.png") no-repeat 0 -192px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-right { background: static_url("images/1.png") no-repeat 0 -216px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel .button-middle { background: static_url("images/1.png") repeat-x 0 -48px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-left { background: static_url("images/1.png") no-repeat 0 -240px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-right { background: static_url("images/1.png") no-repeat 0 -264px; }
.sc-theme .sc-view.square.normal.sc-regular-size.sc-button-view.sel.active .button-middle { background: static_url("images/1.png") repeat-x 0 -72px; }
